* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

.site-width {
	max-width: 1200px;
	margin: 0 auto;
}

.site-header {
	background-color: #333333;
	color: #f2f2f2;
	margin-bottom: 2em;
}

.logo {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

h1 {
	margin-bottom: .25em;
}

h2 {
	margin-bottom: .25em;
}

a {
	color: inherit; 
	text-decoration: none;
}

ul {
	margin-left: 2em;
}

nav > ul {
	list-style: none;
	margin-left: 0;
}

nav > ul > li {
	display: inline-block;
	margin: .25em;
}

.nav-primary ul li a{
	background-color: #444444;
	padding: .75em 1.5em;
	border-radius: .25em;
}

.nav-primary ul li a:hover {
	background-color: #dddddd;
	color: #000000;
	transition: ease-in-out .3s;
}

.page-content {
	margin-bottom: 2em;
}

.page-content > .site-width {
	display: grid;
	grid-template-columns: 1.5fr .5fr;
}

.tool_info {
	grid-column: 1 / 3;
	margin-bottom: 2em;
}

#editor {
	grid-column: 1 / 3;
	margin-bottom: 2em;
}

#content-json > pre {
	background-color: #dddddd;
	padding: 1.25em;
	border-radius: .25em;
	font-size: .9em;
}

.site-footer {
	color: #444444;
	font-size: .75em;
	text-align: center;
	padding: 2em;
}